.leftCTA {
  color: var(--white, #fff);
  font-family: Darker Grotesque;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  margin-top: 15px !important;
  line-height: 100%;
}
.RightCTA {
  width: 100%;
  height: 70px;
  border-radius: 100px;
  background: var(--white, #fff);
  margin-top: 53px !important;
  display: flex;
  align-items: center;
  margin-bottom: 15px !important;
}
.InputWidth {
  width: 80%;
}
.ButonWidth {
  width: 20%;
  margin-right: 10px;
}
.holder {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #0c0b0b;
}
.vestarPlusRecognision {
  color: #fff;
  font-family: Darker Grotesque;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.rightFooter {
  display: flex;
  justify-content: flex-end;
}
.rightFooter div {
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  font-family: Darker Grotesque;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.socials {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px !important;
}
.socials div {
  margin-right: 20px !important;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.push {
  color: #ffffff !important;
  width: 50%;
}
.dark {
  color: #ffffff !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pushs {
  text-align: center;
  cursor: pointer;
  color: var(--white, #ffffff);
  font-family: Darker Grotesque;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  width: fit-content;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 8px;
}
.wowww {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  width: fit-content;
}
.mainHeader {
  background: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white !important;
}

.whip {
  background-color: rgb(20, 20, 20) !important;
}

.nav a.active {
  border-bottom: 3px solid #ffc121;
  width: fit-content;
}
.timedc {
  width: 80%;
  object-fit: cover;
}
.ddkd {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .jgure {
    background-color: #090909;
    background-image: url('../Images/ligg.png');
    width: 100%;

    background-size: contain !important;
    display: flex;
    justify-content: center;

    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 991px) {
  .rightFooter {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px !important;
  }
  .rightFooter div {
    margin-top: 20px;
  }
  .socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px !important;
  }
  .wowww {
    margin-top: 10px !important;
  }
  .pushs {
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: fit-content;
    margin-top: 10px;
    height: fit-content;
  }
  .nav {
    display: flex;
    justify-content: space-between;

    align-items: flex-start;
    width: 100%;
  }
  .MarginForButton {
    margin-top: 20px !important ;
  }
}

.DetailHead {
  background-image: url('../Images/details.png');
  width: 100%;
  height: 514px;
  background-color: #050409 !important;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.centttt {
  background-size: contain;
  display: flex;
  justify-content: center !important;
  width: 100%;
}
.jgure {
  background-color: #090909;
  background-image: url('../Images/ligg.png');
  width: 100%;

  background-size: contain;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}
